/* display for the two main columns  */

:root {
    --lightbrown: antiquewhite;
    --darkgray: #808080;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-image: url("https://i.imgur.com/jNk37MZ.jpg");
    background-size: cover;
}

.title {
    font-size: 40px;
}

.col2 {
    width: 100%;
}

.main-columns {
    display: grid;
    /* gives width property to the first two columns, if we add another column, we need to add another "x"fr. fr =fractional units */
    grid-template-columns: 1fr 2fr;
}


.brewerylistitem {
    color: black;
    background-color: antiquewhite;
    cursor: pointer;
}

.brewerylistitem:hover {
    color: var(--darkgray);
}

.store-info {
    height: 75px;
    width: 100%;
    font-weight: bold;
}

#map {
    height: 600px;
    width: 100%;
}

.info-store h1 {
    font-size: 20px;
    background-color: antiquewhite;
}

.info-store p {
    font-size: 15px;
    background-color: antiquewhite;
}